<div class="main-container text-center">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts">TasteBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/posts">Home</a>
        {{!-- <a class="nav-link" href="#">{{user.username}}</a> --}}
        <a class="nav-link active" href="/search">Search</a>
        <form action="/sessions?_method=DELETE" method="POST">
         <input class="sign-out-nav nav-link" type="submit" value="Sign Out" />
        </form>
      </div>
    </div>
  </div>
</nav>

<h2 class="title-h2">Search for other users:</h2>

<div class="form-container">
<form id="search-form" action="/search" method="POST">
  <label class="search-form-label" for="search">Enter their name here:</label>
  <input class="inline-form-input" id="search" type="text" name="search" value=""/>
  <input class="search-form-btn" type="submit" value="Submit Search" />
</form>
</div>
</div>