<h3>Add an Image to your post</h3>
<form id="add-image-form" action="/posts" method="post">
{{!-- <input type="hidden" name="_method" value="PATCH"> --}}
<label for="image-url">Enter your image url here:</label><br>
<input id="image-url" name="imageUrl" type="text" value="" required/>
<input type="submit" value="Submit"/>
</form>